
#login-box {
	width:333px;
	height: 352px;
	padding: 1px 70px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #000;
	font: bold 44px "Calibri", Arial;
}


#login-box h3 {
	padding:0;
	margin:0;
	color: #fff;
	font: bold 25px "Calibri", Arial;
}

#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: center;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 285px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}
